:root {
    --theme-red: #FF315D;
    --theme-green: #AFCA0A;
    --theme-blue: #3CC6EB;
    --theme-yellow: #FFD900;
    --theme-cherry: #D32E65;
    --theme-light-blue: #6A5AFB;
    --theme-electric-blue: #025189;
    --theme-grey: #555555;
    --theme-white: #FFFFFF;

    --theme-bg: var(--theme-white);
    --theme-text-color: var(--theme-grey);
}

.app {
    font-family: "Kalam", cursive;
    background-color: var(--theme-bg);
    min-height: 100vh;
    text-align: center;
    color: var(--theme-text-color);
    overflow-x: hidden;
    overflow-y: hidden;
}
