:root {
    --theme-red: #FF315D;
    --theme-green: #8BC34A;
    --theme-blue: #00BCD4;
    --theme-yellow: #FBC02D;
    --theme-cherry: #EC407A;
    --theme-purple: #BA68C8;
    --theme-orange: #FF7043;
    --theme-indigo: #5C6BC0;
    --theme-light-blue: #29B6F6;
    --theme-grey: #555555;
    --theme-white: #FFFFFF;

    --theme-bg: var(--theme-white);
    --theme-text-color: var(--theme-grey);
}

.app {
    font-family: "Kalam", cursive;
    background-color: var(--theme-bg);
    min-height: 100vh;
    text-align: center;
    color: var(--theme-text-color);
    overflow-x: hidden;
    overflow-y: hidden;
}

.menu-btn {
    position: absolute;
    right: 5vmin;
    top: 5vmin;
    width: 10vmin;
    height: 10vmin;
    cursor: pointer;
}
