.app {
    font-family: "Kalam", cursive;
    background-color: #212121;
    min-height: 100vh;
    text-align: center;
}

.broadcast-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;

    font-size: 75px;
    font-weight: bold;

    color: #FFD900;
}
